// General Colors
$white: #ffffff;
$light-gray: #f1f1f1;
// bg-input-aside, bg-tag-card

$border-color: #e0e0e0;

$bg-gradient: linear-gradient(77.62deg, #00796A 9%, #00B495 84.27%);
$bg-copyright: #F2F2F2;
$text-copyright: #BBBBBB;


/// Default color variables
$primary: #00B495;
// btn, separador, saiba-mais, input-aside

$secondary: #00796A;
// title Curso

$footer-color: #747474;
$text-color: #636466;
// links

$text-light: #aaaaaa;
$text-gray: #949499;
// text-input-aside, tag-card

/// Fonts Variables
$font-primary: "Roboto", sans-serif;
$font-secondary: "Poppins", sans-serif;
$font-extra: "Orelega One", sans-serif;

$font-default: $font-primary;
$heading-font: $font-default;
$text-font: $font-default;

/// Fonts weight
$fw-xlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-xbold: 800;
$fw-black: 900;

/// userSpaceOnUse
$pad-space: 5rem;


/// Fonts Variables
$font-primary: "Roboto", sans-serif;
$font-secondary: "Poppins", sans-serif;

$font-default: $font-primary;
$heading-font: $font-default;
$text-font: $font-default;

/// Fonts weight
$fw-xlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-xbold: 800;
$fw-black: 900;

/// userSpaceOnUse
$pad-space: 5rem;




