/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  .footer {
    padding-top: 5.3125rem;
    background: $white;

      .row {
          @media (min-width: 767.98px)  {
            flex-wrap: nowrap;
          }
      }
      
      .info-footer {
        margin-bottom: 3.75rem;

        .social-links {
          position: relative;
          left: -0.5rem;
          gap:0.5rem;

          span {
            position: absolute;
            top: 0;
            left: -9999px;
          }
        }
        
        p {
            margin: 1.875rem 0;
            font-size: 0.8125rem;
            line-height: 0.9375rem;
            color: $footer-color;
            @media (max-width: 576px) {
              margin-top: 1.25rem;
            }
            @media (min-width: 767.98px)  {
              max-width: 230px;
              box-sizing: initial;
            }
          }
    
        .social-links a {
          padding: 0.5rem;
        }
      }
    
    .section-menu-footer {
      margin-bottom: 3.75rem;

      .list-group {
        gap: 0.875rem;

          a {
            color: $footer-color; 
            font-weight: $fw-normal;
            font-size: 0.875rem;
          }
      }
      
      .title-menu-footer {
        margin-bottom: 0.875rem;
      }
  }
}
  
  .copyright {
    background-color: $bg-copyright;
    color:$text-copyright;
    font-weight: $fw-normal;    
    padding: 0.75rem;
    font-size: 0.8125rem;
    @media (max-width: 576px) {
      font-size: 0.5rem;
    }
  }
}