    <form action="" class="form-sidebar"> 
      <header class="mb-5">
        <span>Filtrar por</span>
      </header>
      <fieldset class="mb-5 filteres">
        <legend class="d-flex justify-content-between">
          <span class="title-filter">Categorias</span>
          <span role="button" class="clean-filter">Limpar seleção</span>
        </legend>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-1" value="option1" checked>
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-1">
            <img src="assets/imagens/img/icons/filters/todos.svg">
            <span>Todos</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-2" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-2">
            <img src="assets/imagens/img/icons/filters/comunicacao.svg">
            <span>Comunicação</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-3" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-3">
            <img src="assets/imagens/img/icons/filters/design.svg">
            <span>Design</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-4" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-4">
            <img src="assets/imagens/img/icons/filters/direito.svg">
            <span>Direito</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-5" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-5">
            <img src="assets/imagens/img/icons/filters/educacao.svg">
            <span>Educação</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-6" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-6">
            <img src="assets/imagens/img/icons/filters/engenharia.svg">
            <span>Engenharia</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-7" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-7">
            <img src="assets/imagens/img/icons/filters/negocios.svg">
            <span>Negócios</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-8" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-8">
            <img src="assets/imagens/img/icons/filters/saude.svg">
            <span>Saúde</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-9" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-9">
            <img src="assets/imagens/img/icons/filters/tecnologia.svg">
            <span>Tecnologia</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox-10" value="option1">
          <label class="form-check-label d-flex align-items-center" for="inlineCheckbox-10">
            <img src="assets/imagens/img/icons/filters/turismo.svg">
            <span>Turismo</span> 
          </label>
        </div>
      </fieldset> <!-- fieldset -->

      <fieldset class="mb-5 filteres filter-modalidade p-0">
        <legend class="d-flex justify-content-between">
          <span class="title-filter">Modalidade do Curso</span>
          <span role="button" class="clean-filter">Limpar seleção</span>
        </legend>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="modalidade-todos" value="todos" checked>
          <label class="form-check-label" for="modalidade-todos">
            <span>Todos</span> 
          </label>
        </div>
        
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="modalidade-digital" value="Digital">
          <label class="form-check-label" for="modalidade-digital">
            <span>Digital</span> 
          </label>
        </div>
        
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="modalidade-live" value="Live">
          <label class="form-check-label" for="modalidade-live">
            <span>Live</span> 
          </label>
        </div>
        
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="modalidade-presencial" value="Presencical">
          <label class="form-check-label" for="modalidade-presencial">
            <span>Presencical</span> 
          </label>
        </div>
        
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="modalidade-semipresencial" value="Semipresencical">
          <label class="form-check-label" for="modalidade-semipresencial">
            <span>Semipresencial</span> 
          </label>
        </div>

      </fieldset> <!-- fieldset -->

      <fieldset class="mb-5 filteres filter-lorem">
        <legend class="d-flex justify-content-between">
          <span class="title-filter">Lorem ipsum</span>
          <span role="button" class="clean-filter">Limpar seleção</span>
        </legend>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="lorem-1" value="1" checked>
          <label class="form-check-label font-weight-bold" for="lorem-1">
            <span class="mr-4">Lorem ipsum</span> 
            <span>32</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="lorem-2" value="2" checked>
          <label class="form-check-label font-weight-bold" for="lorem-2">
            <span class="mr-4">Lorem ipsum</span> 
            <span>32</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="lorem-3" value="3">
          <label class="form-check-label font-weight-bold" for="lorem-3">
            <span class="mr-4">Lorem ipsum</span> 
            <span>32</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="lorem-4" value="4">
          <label class="form-check-label font-weight-bold" for="lorem-4">
            <span class="mr-4">Lorem ipsum</span> 
            <span>32</span> 
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="lorem-5" value="5">
          <label class="form-check-label font-weight-bold" for="lorem-5">
            <span class="mr-4 ">Lorem ipsum</span> 
            <span>32</span> 
          </label>
        </div>
        <span aria-label="ver mais" role="button" class="d-block">Ver mais</span>

      </fieldset> <!-- fieldset -->
    </form> <!-- /form -->