<div class="card h-100">
    <div class="card-header p-0 bg-white border-0">
      <img class="rounded card-img-top" src="/assets/imagens/img/foto-curso.png" alt="Licenciamento e Auditoria Ambiental" title="Licenciamento e Auditoria Ambiental">
      <div class="d-flex flex-column align-items-end course-types">
        <span class="badge badge-light">Digital</span>
        <span class="badge badge-light">Live</span>
        <span class="badge badge-light">Presencial</span>
        <span class="badge badge-light">Semipresencial</span>
      </div> <!-- /d-flex -->
      <header>
        <h3 class="card-title title-card">Licenciamento e Auditoria Ambiental</h3>
      </header>
    </div> <!-- /card-header -->
    <div class="card-body p-0 pb-0 d-flex flex-column justify-content-end">
      <p>
        <small>Certificação:</small> 
        <span class="d-block font-weight-bold">Bacharelado</span>
      </p>
      <p>
        <small>Duração: </small>
        <span class="d-block font-weight-bold">A partir de 4 semestres</span></p>
    </div> <!-- /card-boby -->
  </div><!-- /card -->
